.demo h2 {
    text-align: center;
    margin: 3rem 0;
}

.demo button {
    margin: 0 1rem 1rem 1rem;
    transition: all 300ms ease-in-out;
}

.demo {
    margin: 5rem 0;
}

.demo button:hover {
    background-color: rgb(62, 64, 79);
}

