.center {
      text-align: center;
    }
    
    body {
      font-family: Arial;
      font-size: 8pt;      
    }
    
    .part_i_header {
      background: black;
      color: white;
      padding: 1px 10px;
    }
    
    .flex {
      display: flex;
    }
    
   .print_table td {
      border: 1px solid !important;
      padding: 2px !important;
    }
    
    sup {
      font-size: 9px;
    }
    
    .print_table  {
      border-collapse:  collapse;
      padding: 2cm;      
      margin: 0 auto;
    }
    
    
    #red {
      color: red;
    }
    
    #highlighted {
      background: yellow;
    }
    
    #highlighted_header {
      background: black;
      color: white;
    }
    
    .block {
      display: block;
    }
    
    .part_header {
      background: black;
      color: white;
      padding: 0.5rem 0.75rem;
    }
    
    .name {
      height: 1rem;
      width: 45%;
      vertical-align: bottom; 
      text-align: left;
    }


.name_input {
     border: none !important;
     outline: none !important;
     border-radius: 0 !important;
  }
    
    .case_number {
      width: 20%;
    }
    
    .check_td td{
      text-align: center;
    }
    
    .no_right {
      border-right: none;
    }
    
    .no_left {
      border-left: none;
    }
    
    .underline_input {
     border: none !important;
     border-bottom: 1px solid black !important;
     outline: none !important;
     border-radius: 0 !important;
   }
   
   .no_border td{
     border-bottom: none !important;
     border-top: none !important;
   }
.no_border input {
  width: 25px;
}

  .size td:first-child {
    width: 33%;
  }

  
  .day {
    text-decoration: line-through;
  }
  
    .size td:not(:first-child) {
    width: 16.5%;
  }
  .sign img {
        height: 100px;
  }


  .sign div{
     margin-bottom: 1rem;
  }
  
  .sign_input {
    width: 20rem;
    margin-right: 3rem;
  }

